  #calendar {                
                max-width: 900px;
                margin: 10px auto;
                background: white center;
                opacity: 0.7;
                position: relative;
                border: solid 3px rgb(26, 26, 26);
                padding: 5px;
            }