body{
    font-family: Times New Roman, Sans-serif;
    background-size: cover;
    background-color: #052537 !important;
    position: relative;
    text-align-last: center !important;
}

.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}

#cabecalho{
    background-color: #03474F;
    opacity: 0.8;
    font-family: Roboto, sans-serif;
    height: 100px;
}

#titulo{
    color: white;
    font-size: 25px;
}


#login{
    background: rgb(223, 223, 223);
}

#login>input, #login>h4{
    margin: inherit;
}

input {
    text-align: center !important;
}

#avatar{
    margin: 15px auto 0 auto;
}

.textInput{
    font-size: 27px;
    margin: 5px auto 0px auto;
}
     
#cabecalho{
    height: 100px;
}

#avatar{
    width: 130px;
}

#titulo{
    font-size: 25px;
}

#login{
    font-size: 22px;
    margin-top: 70px;
}

#login>input{
    height: 20px;
}

@media screen and (max-width: 540px){
    #cabecalho{
        height: 100px;
    }

    #avatar{
        width: 130px;
    }

    #titulo{
        font-size: 20px;
    }

    #login{
        font-size: 20px;
        margin-top: 70px;
    }

    #login>input{
        height: 18px;
    }
}

@media (min-width: 1024px){}

@media (min-width: 1200px){

    #cabecalho{
        height: 100px;
    }

    #avatar{
        width: 130px;
    }

    #titulo{
        font-size: 25px;
    }

    #login{
        font-size: 22px;
        margin-top: 70px;
    }

    #login>input{
        height: 20px;
    }
}

@media screen and (max-width: 415px){

    #cabecalho{
        height: 900px;
    }

    #avatar{
        width: 130px;
    }

    #titulo{
        font-size: 25px;
    }

    #login{
        font-size: 22px;
        margin-top: 70px;
    }

    #login>input{
        height: 20px;
    }
}