 /*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {body{
        background: url('backgrounds/imagem-575.jpg') no-repeat;
        background-size: auto;
        position: relative;
      }
      #Login{
        background: white center;
        opacity: 0.5;
        width: 180px;
        height: 240px;
        margin-top: 30px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        position: relative;
        border: solid 3px rgb(26, 26, 26);
        text-align: center;
        font-size: 12px;
      }
      #Login>input, #Login>h4{
        margin: inherit;
      }

      #avatar{
        background: url("icones/user.png") no-repeat;
        height: 40px;
        width: 40px;
        background-size: cover;
        margin-top: 7px;
        margin-left: 37%;

      }
      header{
        background-color: #323A45;
        opacity: 0.8;
      }
      #Titulo{
        text-align: center;
        color: White;
      }
      
      .btn{
          width: 60px;
          height: 30px;
      }
      .container{
        text-align: left;
        font-family: Times New Roman, Sans-serif;
        font-size: 10px;
      }
}

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
/*@media (min-width: 576px) and (max-width: 767.98px) { ... }

Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }*/

/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {

    body{
        background: url('backgrounds/imagem.jpg') no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        position: relative;
      }
      #Login{
        background: white center;
        opacity: 0.5;
        width: 280px;
        height: 390px;
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        position: relative;
        border: solid 3px rgb(26, 26, 26);
        text-align: center;
      }
      #Login>input, #Login>h4{
        margin: inherit;
      }

      #avatar{
        background: url("https://image.flaticon.com/icons/png/128/149/149452.png") no-repeat;
        width: 150px;
        height: 150px;
        margin-top: 17px;
        margin-left: 27%;

      }
      header{
        background-color: #323A45;
        opacity: 0.8;
      }
      #Titulo{
        text-align: center;
        color: White;
      }
      .container{
        text-align: left;
        font-family: Times New Roman, Sans-serif;
        font-size: 28px;
  }
}